<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucpaas.sms.task.mapper.message.AccountgrRefAccountMapper">
     
        
    <resultMap id="rowMapper" type="com.ucpaas.sms.task.entity.message.AccountgrRefAccount">
        <result property="id" jdbcType="INTEGER" column="id"/>
        <result property="accountGid" jdbcType="INTEGER" column="account_gid"/>
        <result property="clientid" jdbcType="VARCHAR" column="clientid"/>
        <result property="updateTime" jdbcType="TIMESTAMP" column="update_time"/>
    </resultMap> 
     
    <sql id="BASE_COLUMN_LIST">
        id,
        account_gid,
        clientid,
        update_time
    </sql>

    <insert id="insert" parameterType="com.ucpaas.sms.task.entity.message.AccountgrRefAccount" >
        INSERT INTO t_sms_accountgr_ref_account 
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="accountGid != null" >
                account_gid,
            </if>
            <if test="clientid != null" >
                clientid,
            </if>
            <if test="updateTime != null" >
                update_time
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id},
            </if>
            <if test="accountGid != null" >
                #{accountGid},
            </if>
            <if test="clientid != null" >
                #{clientid},
            </if>
            <if test="updateTime != null" >
                now()
            </if>
        </trim>
    </insert>

    <insert id="insertBatch" parameterType="java.util.List" >
        INSERT INTO t_sms_accountgr_ref_account (
            id,
            account_gid,
            clientid,
            update_time
        )VALUES
        <foreach collection="list" item="item" index="index" separator="," >  
            (
                #{item.id},
                #{item.accountGid},
                #{item.clientid},
                now()
            )
        </foreach>
    </insert>
    

    <update id="update" parameterType="com.ucpaas.sms.task.entity.message.AccountgrRefAccount">
        UPDATE t_sms_accountgr_ref_account SET 
            account_gid=#{accountGid},
            clientid=#{clientid},
            update_time=#{updateTime}
        WHERE 
            id = #{id} 
    </update>
    
 
    
    <update id="updateSelective" parameterType="com.ucpaas.sms.task.entity.message.AccountgrRefAccount">
        UPDATE t_sms_accountgr_ref_account 
            <set>
                <if test="accountGid != null and accountGid != ''">
                    account_gid = #{accountGid},
                </if>
                <if test="clientid != null and clientid != ''">
                    clientid = #{clientid},
                </if>
                <if test="updateTime != null and updateTime != ''">
                    update_time = #{updateTime}
                </if>
            </set>
        WHERE 
            id = #{id} 
    </update>

    <select id="getByAccountGid" resultMap="rowMapper">
        SELECT 
            <include refid="BASE_COLUMN_LIST" />
        FROM t_sms_accountgr_ref_account
        WHERE 
            id = #{accountGid}
    </select>

    <select id="queryList" parameterType="com.ucpaas.sms.task.entity.message.AccountgrRefAccount" resultMap="rowMapper">
        SELECT 
            <include refid="BASE_COLUMN_LIST" /> 
        FROM t_sms_accountgr_ref_account 
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="params.id != null and params.id != ''">
                and id = #{params.id}
            </if>
            <if test="params.accountGid != null and params.accountGid != ''">
                and account_gid = #{params.accountGid}
            </if>
            <if test="params.clientid != null and params.clientid != ''">
                and clientid = #{params.clientid}
            </if>
            <if test="params.updateTime != null and params.updateTime != ''">
                and update_time = #{params.updateTime}
            </if>
	     </trim>
    </select>

    <select id="count" parameterType="com.ucpaas.sms.task.entity.message.AccountgrRefAccount" resultType="int">
        SELECT COUNT(0) 
        FROM t_sms_accountgr_ref_account 
        WHERE 
            1 = 1
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="accountGid != null and accountGid != ''">
                and account_gid = #{accountGid}
            </if>
            <if test="clientid != null and clientid != ''">
                and clientid = #{clientid}
            </if>
            <if test="updateTime != null and updateTime != ''">
                and update_time = #{updateTime}
            </if>
    </select>

    <select id="getByClientid" resultMap="rowMapper">
        SELECT
        <include refid="BASE_COLUMN_LIST" />
        FROM t_sms_accountgr_ref_account
        WHERE
        clientid = #{clientid}
    </select>
</mapper>

