<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucpaas.sms.task.mapper.message.UserMapper">
     
        
    <resultMap id="rowMapper" type="com.ucpaas.sms.task.entity.message.User">
        <result property="id" jdbcType="BIGINT" column="id"/>
        <result property="sid" jdbcType="VARCHAR" column="sid"/>
        <result property="username" jdbcType="VARCHAR" column="username"/>
        <result property="email" jdbcType="VARCHAR" column="email"/>
        <result property="password" jdbcType="VARCHAR" column="password"/>
        <result property="userType" jdbcType="CHAR" column="user_type"/>
        <result property="status" jdbcType="CHAR" column="status"/>
        <result property="mobile" jdbcType="VARCHAR" column="mobile"/>
        <result property="realname" jdbcType="VARCHAR" column="realname"/>
        <result property="createDate" jdbcType="TIMESTAMP" column="create_date"/>
        <result property="updateDate" jdbcType="TIMESTAMP" column="update_date"/>
        <result property="loginTimes" jdbcType="INTEGER" column="login_times"/>
        <result property="webId" jdbcType="INTEGER" column="web_id"/>
        <result property="departmentId" jdbcType="INTEGER" column="department_id"/>
        <result property="dataAuthority" jdbcType="INTEGER" column="data_authority"/>
    </resultMap> 
     
    <sql id="BASE_COLUMN_LIST">
        id,
        sid,
        username,
        email,
        password,
        user_type,
        status,
        mobile,
        realname,
        create_date,
        update_date,
        login_times,
        web_id,
        department_id,
        data_authority
    </sql>

    <insert id="insert" parameterType="com.ucpaas.sms.task.entity.message.User" >
        INSERT INTO t_sms_user 
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="sid != null" >
                sid,
            </if>
            <if test="username != null" >
                username,
            </if>
            <if test="email != null" >
                email,
            </if>
            <if test="password != null" >
                password,
            </if>
            <if test="userType != null" >
                user_type,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="mobile != null" >
                mobile,
            </if>
            <if test="realname != null" >
                realname,
            </if>
            <if test="createDate != null" >
                create_date,
            </if>
            <if test="updateDate != null" >
                update_date,
            </if>
            <if test="loginTimes != null" >
                login_times,
            </if>
            <if test="webId != null" >
                web_id,
            </if>
            <if test="departmentId != null" >
                department_id,
            </if>
            <if test="dataAuthority != null" >
                data_authority
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id},
            </if>
            <if test="sid != null" >
                #{sid},
            </if>
            <if test="username != null" >
                #{username},
            </if>
            <if test="email != null" >
                #{email},
            </if>
            <if test="password != null" >
                #{password},
            </if>
            <if test="userType != null" >
                #{userType},
            </if>
            <if test="status != null" >
                #{status},
            </if>
            <if test="mobile != null" >
                #{mobile},
            </if>
            <if test="realname != null" >
                #{realname},
            </if>
            <if test="createDate != null" >
                #{createDate},
            </if>
            <if test="updateDate != null" >
                #{updateDate},
            </if>
            <if test="loginTimes != null" >
                #{loginTimes},
            </if>
            <if test="webId != null" >
                #{webId},
            </if>
            <if test="departmentId != null" >
                #{departmentId},
            </if>
            <if test="dataAuthority != null" >
                #{dataAuthority}
            </if>
        </trim>
    </insert>

    <insert id="insertBatch" parameterType="java.util.List" >
        INSERT INTO t_sms_user (
            id,
            sid,
            username,
            email,
            password,
            user_type,
            status,
            mobile,
            realname,
            create_date,
            update_date,
            login_times,
            web_id,
            department_id,
            data_authority
        )VALUES
        <foreach collection="list" item="item" index="index" separator="," >  
            (
                #{item.id},
                #{item.sid},
                #{item.username},
                #{item.email},
                #{item.password},
                #{item.userType},
                #{item.status},
                #{item.mobile},
                #{item.realname},
                #{item.createDate},
                #{item.updateDate},
                #{item.loginTimes},
                #{item.webId},
                #{item.departmentId},
                #{item.dataAuthority}
            )
        </foreach>
    </insert>
    

    
    <update id="update" parameterType="com.ucpaas.sms.task.entity.message.User">
        UPDATE t_sms_user SET 
            sid=#{sid},
            username=#{username},
            email=#{email},
            password=#{password},
            user_type=#{userType},
            status=#{status},
            mobile=#{mobile},
            realname=#{realname},
            create_date=#{createDate},
            update_date=#{updateDate},
            login_times=#{loginTimes},
            web_id=#{webId},
            department_id=#{departmentId},
            data_authority=#{dataAuthority}
        WHERE 
            id = #{id} 
    </update>
    
 
    
    <update id="updateSelective" parameterType="com.ucpaas.sms.task.entity.message.User">
        UPDATE t_sms_user 
            <set>
                <if test="sid != null and sid != ''">
                    sid = #{sid},
                </if>
                <if test="username != null and username != ''">
                    username = #{username},
                </if>
                <if test="email != null and email != ''">
                    email = #{email},
                </if>
                <if test="password != null and password != ''">
                    password = #{password},
                </if>
                <if test="userType != null and userType != ''">
                    user_type = #{userType},
                </if>
                <if test="status != null and status != ''">
                    status = #{status},
                </if>
                <if test="mobile != null and mobile != ''">
                    mobile = #{mobile},
                </if>
                <if test="realname != null and realname != ''">
                    realname = #{realname},
                </if>
                <if test="createDate != null and createDate != ''">
                    create_date = #{createDate},
                </if>
                <if test="updateDate != null and updateDate != ''">
                    update_date = #{updateDate},
                </if>
                <if test="loginTimes != null and loginTimes != ''">
                    login_times = #{loginTimes},
                </if>
                <if test="webId != null and webId != ''">
                    web_id = #{webId},
                </if>
                <if test="departmentId != null and departmentId != ''">
                    department_id = #{departmentId},
                </if>
                <if test="dataAuthority != null and dataAuthority != ''">
                    data_authority = #{dataAuthority}
                </if>
            </set>
        WHERE 
            id = #{id} 
    </update>

    <select id="getById" resultMap="rowMapper">
        SELECT 
            <include refid="BASE_COLUMN_LIST" />
        FROM t_sms_user
        WHERE 
            id = #{id}
    </select>

    <select id="queryList" parameterType="com.ucpaas.sms.task.entity.message.User" resultMap="rowMapper">
        SELECT 
            <include refid="BASE_COLUMN_LIST" /> 
        FROM t_sms_user 
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="params.id != null and params.id != ''">
                and id = #{params.id}
            </if>
            <if test="params.sid != null and params.sid != ''">
                and sid = #{params.sid}
            </if>
            <if test="params.username != null and params.username != ''">
                and username = #{params.username}
            </if>
            <if test="params.email != null and params.email != ''">
                and email = #{params.email}
            </if>
            <if test="params.password != null and params.password != ''">
                and password = #{params.password}
            </if>
            <if test="params.userType != null and params.userType != ''">
                and user_type = #{params.userType}
            </if>
            <if test="params.status != null and params.status != ''">
                and status = #{params.status}
            </if>
            <if test="params.mobile != null and params.mobile != ''">
                and mobile = #{params.mobile}
            </if>
            <if test="params.realname != null and params.realname != ''">
                and realname = #{params.realname}
            </if>
            <if test="params.createDate != null and params.createDate != ''">
                and create_date = #{params.createDate}
            </if>
            <if test="params.updateDate != null and params.updateDate != ''">
                and update_date = #{params.updateDate}
            </if>
            <if test="params.loginTimes != null and params.loginTimes != ''">
                and login_times = #{params.loginTimes}
            </if>
            <if test="params.webId != null and params.webId != ''">
                and web_id = #{params.webId}
            </if>
            <if test="params.departmentId != null and params.departmentId != ''">
                and department_id = #{params.departmentId}
            </if>
            <if test="params.dataAuthority != null and params.dataAuthority != ''">
                and data_authority = #{params.dataAuthority}
            </if>
	     </trim>
    </select>

    <select id="count" parameterType="com.ucpaas.sms.task.entity.message.User" resultType="int">
        SELECT COUNT(0) 
        FROM t_sms_user 
        WHERE 
            1 = 1
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="sid != null and sid != ''">
                and sid = #{sid}
            </if>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="userType != null and userType != ''">
                and user_type = #{userType}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="mobile != null and mobile != ''">
                and mobile = #{mobile}
            </if>
            <if test="realname != null and realname != ''">
                and realname = #{realname}
            </if>
            <if test="createDate != null and createDate != ''">
                and create_date = #{createDate}
            </if>
            <if test="updateDate != null and updateDate != ''">
                and update_date = #{updateDate}
            </if>
            <if test="loginTimes != null and loginTimes != ''">
                and login_times = #{loginTimes}
            </if>
            <if test="webId != null and webId != ''">
                and web_id = #{webId}
            </if>
            <if test="departmentId != null and departmentId != ''">
                and department_id = #{departmentId}
            </if>
            <if test="dataAuthority != null and dataAuthority != ''">
                and data_authority = #{dataAuthority}
            </if>
    </select>
	 
</mapper>

