<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucpaas.sms.task.mapper.access.AccessChannelStatisticsMapper">
     
        
    <resultMap id="rowMapper" type="AccessChannelStatistics">
        <result property="id" jdbcType="BIGINT" column="id"/>
        <result property="agentId" jdbcType="INTEGER" column="agent_id"/>
        <result property="clientid" jdbcType="VARCHAR" column="clientid"/>
        <result property="name" jdbcType="VARCHAR" column="name"/>
        <result property="sid" jdbcType="VARCHAR" column="sid"/>
        <result property="paytype" jdbcType="INTEGER" column="paytype"/>
        <result property="operatorstype" jdbcType="INTEGER" column="operatorstype"/>
        <result property="channelid" jdbcType="INTEGER" column="channelid"/>
        <result property="remark" jdbcType="VARCHAR" column="remark"/>
        <result property="chargeRule" jdbcType="INTEGER" column="charge_rule"/>
        <result property="returnTotalNumber" jdbcType="INTEGER" column="return_total_number"/>
        <result property="returnTotalAmount" jdbcType="DECIMAL" column="return_total_amount"/>
        <result property="chargetotal" jdbcType="INTEGER" column="chargetotal"/>
        <result property="overrateChargeTotal" jdbcType="INTEGER" column="overrate_charge_total"/>
        <result property="subId" jdbcType="BIGINT" column="sub_id"/>
        <result property="costfee" jdbcType="DECIMAL" column="costfee"/>
        <result property="salefee" jdbcType="DECIMAL" column="salefee"/>
        <result property="productfee" jdbcType="DECIMAL" column="productfee"/>
        <result property="productType" jdbcType="INTEGER" column="product_type"/>
        <result property="sendtotal" jdbcType="INTEGER" column="sendtotal"/>
        <result property="usersmstotal" jdbcType="INTEGER" column="usersmstotal"/>
        <result property="notsend" jdbcType="INTEGER" column="notsend"/>
        <result property="submitsuccess" jdbcType="INTEGER" column="submitsuccess"/>
        <result property="reportsuccess" jdbcType="INTEGER" column="reportsuccess"/>
        <result property="submitfail" jdbcType="INTEGER" column="submitfail"/>
        <result property="subretfail" jdbcType="INTEGER" column="subretfail"/>
        <result property="reportfail" jdbcType="INTEGER" column="reportfail"/>
        <result property="auditfail" jdbcType="INTEGER" column="auditfail"/>
        <result property="recvintercept" jdbcType="INTEGER" column="recvintercept"/>
        <result property="sendintercept" jdbcType="INTEGER" column="sendintercept"/>
        <result property="overrateintercept" jdbcType="INTEGER" column="overrateintercept"/>
        <result property="stattype" jdbcType="INTEGER" column="stattype"/>
        <result property="date" jdbcType="INTEGER" column="date"/>
        <result property="createtime" jdbcType="TIMESTAMP" column="createtime"/>
        <result property="belongSale" jdbcType="BIGINT" column="belong_sale"/>
        <result property="smstype" jdbcType="INTEGER" column="smstype"/>
    </resultMap> 
     
    <sql id="BASE_COLUMN_LIST">
        id,
        agent_id,
        clientid,
        name,
        sid,
        paytype,
        operatorstype,
        channelid,
        remark,
        charge_rule,
        return_total_number,
        return_total_amount,
        chargetotal,
        overrate_charge_total,
        sub_id,
        costfee,
        salefee,
        productfee,
        product_type,
        sendtotal,
        usersmstotal,
        notsend,
        submitsuccess,
        reportsuccess,
        submitfail,
        subretfail,
        reportfail,
        auditfail,
        recvintercept,
        sendintercept,
        overrateintercept,
        stattype,
        date,
        createtime,
        belong_sale,
        smstype
    </sql>

    <sql id="SUM_COLUMN_LIST">
        id,
        agent_id,
        clientid,
        name,
        sid,
        paytype,
        operatorstype,
        channelid,
        remark,
        charge_rule,
        SUM(return_total_number) AS 'return_total_number',
        SUM(return_total_amount) AS 'return_total_amount',
        SUM(chargetotal)  AS 'chargetotal',
        SUM(overrate_charge_total) AS 'overrate_charge_total',
        sub_id,
        SUM(costfee) AS 'costfee',
        SUM(salefee) AS 'salefee',
        SUM(productfee) AS 'productfee',
        product_type,
        SUM(sendtotal) AS 'sendtotal',
        SUM(usersmstotal) AS 'usersmstotal',
        SUM(notsend) AS 'notsend',
        SUM(submitsuccess) AS 'submitsuccess',
        SUM(reportsuccess) AS 'reportsuccess',
        SUM(submitfail) AS 'submitfail',
        SUM(subretfail) AS 'subretfail',
        SUM(reportfail) AS 'reportfail',
        SUM(auditfail) AS 'auditfail',
        SUM(recvintercept) AS 'recvintercept',
        SUM(sendintercept) AS 'sendintercept',
        SUM(overrateintercept) AS 'overrateintercept',
        stattype,
        date,
        createtime,
        belong_sale,
        smstype
    </sql>

    <insert id="insert" parameterType="AccessChannelStatistics" >
        INSERT INTO t_sms_access_channel_statistics 
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="agentId != null" >
                agent_id,
            </if>
            <if test="clientid != null" >
                clientid,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="sid != null" >
                sid,
            </if>
            <if test="paytype != null" >
                paytype,
            </if>
            <if test="operatorstype != null" >
                operatorstype,
            </if>
            <if test="channelid != null" >
                channelid,
            </if>
            <if test="remark != null" >
                remark,
            </if>
            <if test="chargeRule != null" >
                charge_rule,
            </if>
            <if test="returnTotalNumber != null" >
                return_total_number,
            </if>
            <if test="returnTotalAmount != null" >
                return_total_amount,
            </if>
            <if test="chargetotal != null" >
                chargetotal,
            </if>
            <if test="overrateChargeTotal != null" >
                overrate_charge_total,
            </if>
            <if test="subId != null" >
                sub_id,
            </if>
            <if test="costfee != null" >
                costfee,
            </if>
            <if test="salefee != null" >
                salefee,
            </if>
            <if test="productfee != null" >
                productfee,
            </if>
            <if test="productType != null" >
                product_type,
            </if>
            <if test="sendtotal != null" >
                sendtotal,
            </if>
            <if test="usersmstotal != null" >
                usersmstotal,
            </if>
            <if test="notsend != null" >
                notsend,
            </if>
            <if test="submitsuccess != null" >
                submitsuccess,
            </if>
            <if test="reportsuccess != null" >
                reportsuccess,
            </if>
            <if test="submitfail != null" >
                submitfail,
            </if>
            <if test="subretfail != null" >
                subretfail,
            </if>
            <if test="reportfail != null" >
                reportfail,
            </if>
            <if test="auditfail != null" >
                auditfail,
            </if>
            <if test="recvintercept != null" >
                recvintercept,
            </if>
            <if test="sendintercept != null" >
                sendintercept,
            </if>
            <if test="overrateintercept != null" >
                overrateintercept,
            </if>
            <if test="stattype != null" >
                stattype,
            </if>
            <if test="date != null" >
                date,
            </if>
            <if test="createtime != null" >
                createtime,
            </if>
            <if test="belongSale != null" >
                belong_sale,
            </if>
            <if test="smstype != null" >
                smstype
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id},
            </if>
            <if test="agentId != null" >
                #{agentId},
            </if>
            <if test="clientid != null" >
                #{clientid},
            </if>
            <if test="name != null" >
                #{name},
            </if>
            <if test="sid != null" >
                #{sid},
            </if>
            <if test="paytype != null" >
                #{paytype},
            </if>
            <if test="operatorstype != null" >
                #{operatorstype},
            </if>
            <if test="channelid != null" >
                #{channelid},
            </if>
            <if test="remark != null" >
                #{remark},
            </if>
            <if test="chargeRule != null">
                #{chargeRule},
            </if>
            <if test="returnTotalNumber != null">
                #{returnTotalNumber},
            </if>
            <if test="returnTotalAmount != null">
                #{returnTotalAmount},
            </if>
            <if test="chargetotal != null" >
                #{chargetotal},
            </if>
            <if test="overrateChargeTotal != null" >
                #{overrateChargeTotal},
            </if>
            <if test="subId != null" >
                #{subId},
            </if>
            <if test="costfee != null" >
                #{costfee},
            </if>
            <if test="salefee != null" >
                #{salefee},
            </if>
            <if test="productfee != null" >
                #{productfee},
            </if>
            <if test="productType != null" >
                #{productType},
            </if>
            <if test="sendtotal != null" >
                #{sendtotal},
            </if>
            <if test="usersmstotal != null" >
                #{usersmstotal},
            </if>
            <if test="notsend != null" >
                #{notsend},
            </if>
            <if test="submitsuccess != null" >
                #{submitsuccess},
            </if>
            <if test="reportsuccess != null" >
                #{reportsuccess},
            </if>
            <if test="submitfail != null" >
                #{submitfail},
            </if>
            <if test="subretfail != null" >
                #{subretfail},
            </if>
            <if test="reportfail != null" >
                #{reportfail},
            </if>
            <if test="auditfail != null" >
                #{auditfail},
            </if>
            <if test="recvintercept != null" >
                #{recvintercept},
            </if>
            <if test="sendintercept != null" >
                #{sendintercept},
            </if>
            <if test="overrateintercept != null" >
                #{overrateintercept},
            </if>
            <if test="stattype != null" >
                #{stattype},
            </if>
            <if test="date != null" >
                #{date},
            </if>
            <if test="createtime != null" >
                #{createtime},
            </if>
            <if test="belongSale != null" >
                #{belongSale},
            </if>
            <if test="smstype != null" >
                #{smstype}
            </if>
        </trim>
    </insert>

    <insert id="insertBatch" parameterType="java.util.List" >
        INSERT INTO t_sms_access_channel_statistics (
            id,
            agent_id,
            clientid,
            name,
            sid,
            paytype,
            operatorstype,
            channelid,
            remark,
            charge_rule,
            return_total_number,
            return_total_amount,
            chargetotal,
            overrate_charge_total,
            sub_id,
            costfee,
            salefee,
            productfee,
            product_type,
            sendtotal,
            usersmstotal,
            notsend,
            submitsuccess,
            reportsuccess,
            submitfail,
            subretfail,
            reportfail,
            auditfail,
            recvintercept,
            sendintercept,
            overrateintercept,
            stattype,
            date,
            createtime,
            belong_sale,
            smstype
        )VALUES
        <foreach collection="list" item="item" index="index" separator="," >  
            (
                #{item.id},
                #{item.agentId},
                #{item.clientid},
                #{item.name},
                #{item.sid},
                #{item.paytype},
                #{item.operatorstype},
                #{item.channelid},
                #{item.remark},
                #{item.chargeRule},
                #{item.returnTotalNumber},
                #{item.returnTotalAmount},
                #{item.chargetotal},
                #{item.overrateChargeTotal},
                #{item.subId},
                #{item.costfee},
                #{item.salefee},
                #{item.productfee},
                #{item.productType},
                #{item.sendtotal},
                #{item.usersmstotal},
                #{item.notsend},
                #{item.submitsuccess},
                #{item.reportsuccess},
                #{item.submitfail},
                #{item.subretfail},
                #{item.reportfail},
                #{item.auditfail},
                #{item.recvintercept},
                #{item.sendintercept},
                #{item.overrateintercept},
                #{item.stattype},
                #{item.date},
                #{item.createtime},
                #{item.belongSale},
                #{item.smstype}
            )
        </foreach>
    </insert>
    
    
    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM t_sms_access_channel_statistics WHERE id = #{id} 
    </delete>
    

    <!-- <update id="update" parameterType="AccessChannelStatistics">
        UPDATE t_sms_access_channel_statistics SET 
            id=#{id},
            agent_id=#{agentId},
            clientid=#{clientid},
            name=#{name},
            sid=#{sid},
            paytype=#{paytype},
            operatorstype=#{operatorstype},
            channelid=#{channelid},
            remark=#{remark},
            chargetotal=#{chargetotal},
            overrate_charge_total=#{overrateChargeTotal},
            sub_id=#{subId},
            costfee=#{costfee},
            salefee=#{salefee},
            productfee=#{productfee},
            product_type=#{productType},
            sendtotal=#{sendtotal},
            usersmstotal=#{usersmstotal},
            notsend=#{notsend},
            submitsuccess=#{submitsuccess},
            reportsuccess=#{reportsuccess},
            submitfail=#{submitfail},
            subretfail=#{subretfail},
            reportfail=#{reportfail},
            auditfail=#{auditfail},
            recvintercept=#{recvintercept},
            sendintercept=#{sendintercept},
            overrateintercept=#{overrateintercept},
            stattype=#{stattype},
            date=#{date},
            createtime=#{createtime}
        WHERE 
            id = #{id} 
    </update> -->
    
    <update id="update" parameterType="AccessChannelStatistics">
        UPDATE t_sms_access_channel_statistics SET 
            agent_id=#{agentId},
            clientid=#{clientid},
            name=#{name},
            sid=#{sid},
            paytype=#{paytype},
            operatorstype=#{operatorstype},
            channelid=#{channelid},
            remark=#{remark},
            charge_rule = #{chargeRule},
            return_total_number = #{returnTotalNumber},
            return_total_amount = #{returnTotalAmount},
            chargetotal=#{chargetotal},
            overrate_charge_total=#{overrateChargeTotal},
            sub_id=#{subId},
            costfee=#{costfee},
            salefee=#{salefee},
            productfee=#{productfee},
            product_type=#{productType},
            sendtotal=#{sendtotal},
            usersmstotal=#{usersmstotal},
            notsend=#{notsend},
            submitsuccess=#{submitsuccess},
            reportsuccess=#{reportsuccess},
            submitfail=#{submitfail},
            subretfail=#{subretfail},
            reportfail=#{reportfail},
            auditfail=#{auditfail},
            recvintercept=#{recvintercept},
            sendintercept=#{sendintercept},
            overrateintercept=#{overrateintercept},
            stattype=#{stattype},
            date=#{date},
            createtime=#{createtime},
            belong_sale=#{belongSale},
            smstype=#{smstype}
        WHERE 
            id = #{id} 
    </update>

    <update id="updateSelective" parameterType="AccessChannelStatistics">
        UPDATE t_sms_access_channel_statistics 
            <set>
                <if test="agentId != null and agentId != ''">
                    agent_id = #{agentId},
                </if>
                <if test="clientid != null and clientid != ''">
                    clientid = #{clientid},
                </if>
                <if test="name != null and name != ''">
                    name = #{name},
                </if>
                <if test="sid != null and sid != ''">
                    sid = #{sid},
                </if>
                <if test="paytype != null and paytype != ''">
                    paytype = #{paytype},
                </if>
                <if test="operatorstype != null and operatorstype != ''">
                    operatorstype = #{operatorstype},
                </if>
                <if test="channelid != null and channelid != ''">
                    channelid = #{channelid},
                </if>
                <if test="remark != null and remark != ''">
                    remark = #{remark},
                </if>
                <if test="chargeRule != null">
                    charge_rule = #{chargeRule},
                </if>
                <if test="returnTotalNumber != null and returnTotalNumber != ''">
                    return_total_number = #{returnTotalNumber},
                </if>
                <if test="returnTotalAmount != null and returnTotalAmount != ''">
                    return_total_amount = #{returnTotalAmount},
                </if>
                <if test="overrateChargeTotal != null and overrateChargeTotal != ''">
                    overrate_charge_total = #{overrateChargeTotal},
                </if>
                <if test="subId != null and subId != ''">
                    sub_id = #{subId},
                </if>
                <if test="costfee != null and costfee != ''">
                    costfee = #{costfee},
                </if>
                <if test="salefee != null and salefee != ''">
                    salefee = #{salefee},
                </if>
                <if test="productfee != null and productfee != ''">
                    productfee = #{productfee},
                </if>
                <if test="productType != null and productType != ''">
                    product_type = #{productType},
                </if>
                <if test="sendtotal != null and sendtotal != ''">
                    sendtotal = #{sendtotal},
                </if>
                <if test="usersmstotal != null and usersmstotal != ''">
                    usersmstotal = #{usersmstotal},
                </if>
                <if test="notsend != null and notsend != ''">
                    notsend = #{notsend},
                </if>
                <if test="submitsuccess != null and submitsuccess != ''">
                    submitsuccess = #{submitsuccess},
                </if>
                <if test="reportsuccess != null and reportsuccess != ''">
                    reportsuccess = #{reportsuccess},
                </if>
                <if test="submitfail != null and submitfail != ''">
                    submitfail = #{submitfail},
                </if>
                <if test="subretfail != null and subretfail != ''">
                    subretfail = #{subretfail},
                </if>
                <if test="reportfail != null and reportfail != ''">
                    reportfail = #{reportfail},
                </if>
                <if test="auditfail != null and auditfail != ''">
                    auditfail = #{auditfail},
                </if>
                <if test="recvintercept != null and recvintercept != ''">
                    recvintercept = #{recvintercept},
                </if>
                <if test="sendintercept != null and sendintercept != ''">
                    sendintercept = #{sendintercept},
                </if>
                <if test="overrateintercept != null and overrateintercept != ''">
                    overrateintercept = #{overrateintercept},
                </if>
                <if test="stattype != null and stattype != ''">
                    stattype = #{stattype},
                </if>
                <if test="date != null and date != ''">
                    date = #{date},
                </if>
                <if test="createtime != null and createtime != ''">
                    createtime = #{createtime},
                </if>
                <if test="belongSale != null and belongSale != ''">
                    belong_sale = #{belongSale},
                </if>
                <if test="smstype != null and smstype != ''">
                    smstype = #{smstype}
                </if>
            </set>
        WHERE 
            id = #{id} 
    </update>

    <select id="getById" parameterType="java.lang.Long" resultMap="rowMapper">
        SELECT 
            <include refid="BASE_COLUMN_LIST" />
        FROM t_sms_access_channel_statistics
        WHERE 
            id = #{id}
    </select>

    <select id="queryAll" resultMap="rowMapper">
        SELECT 
            <include refid="BASE_COLUMN_LIST" /> 
        FROM t_sms_access_channel_statistics 
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="agentId != null and agentId != ''">
                and agent_id = #{agentId}
            </if>
            <if test="clientid != null and clientid != ''">
                and clientid = #{clientid}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="sid != null and sid != ''">
                and sid = #{sid}
            </if>
            <if test="paytype != null">
                and paytype = #{paytype}
            </if>
            <if test="operatorstype != null">
                and operatorstype = #{operatorstype}
            </if>
            <if test="channelid != null">
                and channelid = #{channelid}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="chargetotal != null and chargetotal != ''">
                and chargetotal = #{chargetotal}
            </if>
            <if test="overrateChargeTotal != null and overrateChargeTotal != ''">
                and overrate_charge_total = #{overrateChargeTotal}
            </if>
            <if test="subId != null and subId != ''">
                and sub_id = #{subId}
            </if>
            <if test="costfee != null and costfee != ''">
                and costfee = #{costfee}
            </if>
            <if test="salefee != null and salefee != ''">
                and salefee = #{salefee}
            </if>
            <if test="productfee != null and productfee != ''">
                and productfee = #{productfee}
            </if>
            <if test="productType != null">
                and product_type = #{productType}
            </if>
            <if test="sendtotal != null and sendtotal != ''">
                and sendtotal = #{sendtotal}
            </if>
            <if test="usersmstotal != null and usersmstotal != ''">
                and usersmstotal = #{usersmstotal}
            </if>
            <if test="notsend != null and notsend != ''">
                and notsend = #{notsend}
            </if>
            <if test="submitsuccess != null and submitsuccess != ''">
                and submitsuccess = #{submitsuccess}
            </if>
            <if test="reportsuccess != null and reportsuccess != ''">
                and reportsuccess = #{reportsuccess}
            </if>
            <if test="submitfail != null and submitfail != ''">
                and submitfail = #{submitfail}
            </if>
            <if test="subretfail != null and subretfail != ''">
                and subretfail = #{subretfail}
            </if>
            <if test="reportfail != null and reportfail != ''">
                and reportfail = #{reportfail}
            </if>
            <if test="auditfail != null and auditfail != ''">
                and auditfail = #{auditfail}
            </if>
            <if test="recvintercept != null and recvintercept != ''">
                and recvintercept = #{recvintercept}
            </if>
            <if test="sendintercept != null and sendintercept != ''">
                and sendintercept = #{sendintercept}
            </if>
            <if test="overrateintercept != null and overrateintercept != ''">
                and overrateintercept = #{overrateintercept}
            </if>
            <if test="stattype != null">
                and stattype = #{stattype}
            </if>
            <if test="date != null and date != ''">
                and `date` = #{date}
            </if>
            <if test="likeDate != null and likeDate != ''">
                and `date` like CONCAT(#{likeDate},'%')
            </if>
            <if test="createtime != null and createtime != ''">
                and createtime = #{createtime}
            </if>
            <if test="belongSale != null">
                and belong_sale = #{belongSale}
            </if>
            <if test="smstype != null ">
                and smstype = #{smstype}
            </if>
	     </trim>
    </select>
    
    <select id="queryMonthly" resultMap="rowMapper">
    	SELECT
            <include refid="BASE_COLUMN_LIST" /> 
        FROM t_sms_access_channel_statistics t
        WHERE
        	t.stattype = #{stattype}
        AND t.date LIKE CONCAT(#{dataTimePrix}, "%")
    </select>


    <select id="count" parameterType="AccessChannelStatistics" resultType="int">
        SELECT COUNT(0) 
        FROM t_sms_access_channel_statistics 
        WHERE 
            1 = 1
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="agentId != null and agentId != ''">
                and agent_id = #{agentId}
            </if>
            <if test="clientid != null and clientid != ''">
                and clientid = #{clientid}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="sid != null and sid != ''">
                and sid = #{sid}
            </if>
            <if test="paytype != null and paytype != ''">
                and paytype = #{paytype}
            </if>
            <if test="operatorstype != null and operatorstype != ''">
                and operatorstype = #{operatorstype}
            </if>
            <if test="channelid != null and channelid != ''">
                and channelid = #{channelid}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="chargetotal != null and chargetotal != ''">
                and chargetotal = #{chargetotal}
            </if>
            <if test="overrateChargeTotal != null and overrateChargeTotal != ''">
                and overrate_charge_total = #{overrateChargeTotal}
            </if>
            <if test="subId != null and subId != ''">
                and sub_id = #{subId}
            </if>
            <if test="costfee != null and costfee != ''">
                and costfee = #{costfee}
            </if>
            <if test="salefee != null and salefee != ''">
                and salefee = #{salefee}
            </if>
            <if test="productfee != null and productfee != ''">
                and productfee = #{productfee}
            </if>
            <if test="productType != null and productType != ''">
                and product_type = #{productType}
            </if>
            <if test="sendtotal != null and sendtotal != ''">
                and sendtotal = #{sendtotal}
            </if>
            <if test="usersmstotal != null and usersmstotal != ''">
                and usersmstotal = #{usersmstotal}
            </if>
            <if test="notsend != null and notsend != ''">
                and notsend = #{notsend}
            </if>
            <if test="submitsuccess != null and submitsuccess != ''">
                and submitsuccess = #{submitsuccess}
            </if>
            <if test="reportsuccess != null and reportsuccess != ''">
                and reportsuccess = #{reportsuccess}
            </if>
            <if test="submitfail != null and submitfail != ''">
                and submitfail = #{submitfail}
            </if>
            <if test="subretfail != null and subretfail != ''">
                and subretfail = #{subretfail}
            </if>
            <if test="reportfail != null and reportfail != ''">
                and reportfail = #{reportfail}
            </if>
            <if test="auditfail != null and auditfail != ''">
                and auditfail = #{auditfail}
            </if>
            <if test="recvintercept != null and recvintercept != ''">
                and recvintercept = #{recvintercept}
            </if>
            <if test="sendintercept != null and sendintercept != ''">
                and sendintercept = #{sendintercept}
            </if>
            <if test="overrateintercept != null and overrateintercept != ''">
                and overrateintercept = #{overrateintercept}
            </if>
            <if test="stattype != null and stattype != ''">
                and stattype = #{stattype}
            </if>
            <if test="date != null and date != ''">
                and date = #{date}
            </if>
            <if test="createtime != null and createtime != ''">
                and createtime = #{createtime}
            </if>
            <if test="belongSale != null and belongSale != ''">
                and belong_sale = #{belongSale}
            </if>
    </select>
    
    <delete id="deleteByDate">
		DELETE s FROM t_sms_access_channel_statistics s WHERE s.date = #{statTime}
    </delete>

    <resultMap id="ZuoriHoufufeiClientMapper" type="AccessChannelStatistics">
        <result property="id" jdbcType="BIGINT" column="id"/>
        <result property="agentId" jdbcType="INTEGER" column="agent_id"/>
        <result property="clientid" jdbcType="VARCHAR" column="clientid"/>
        <result property="salefee" jdbcType="DECIMAL" column="salefee"/>
        <result property="smstype" jdbcType="INTEGER" column="stattype"/>
    </resultMap>

    <select id="findZuoriHoufufeiClientList"  resultType="AccessChannelStatistics">
        SELECT
            a.id,
            a.clientid,
            a.chargetotal,
            a.submitsuccess,
            a.reportsuccess,
            a.submitfail,
            a.reportfail,
            a.agent_id as "agentId",
            a.salefee,
            a.smstype
        FROM t_sms_access_channel_statistics a
        WHERE
            a.date = #{date} and a.paytype = 1 and a.channelid > 0 and a.agent_id >0
    </select>

    <select id="findSaleEveryDaySendSMSOfMonth" resultType="map">
        select r.clientid,
            SUM(sendAll) sendall,
            r.agent_id,
            MAX(CASE date WHEN '${ym}01' THEN sendAll ELSE 0 END ) '1',
            MAX(CASE date WHEN '${ym}02' THEN sendAll ELSE 0 END ) '2',
            MAX(CASE date WHEN '${ym}03' THEN sendAll ELSE 0 END ) '3',
            MAX(CASE date WHEN '${ym}04' THEN sendAll ELSE 0 END ) '4',
            MAX(CASE date WHEN '${ym}05' THEN sendAll ELSE 0 END ) '5',
            MAX(CASE date WHEN '${ym}06' THEN sendAll ELSE 0 END ) '6',
            MAX(CASE date WHEN '${ym}07' THEN sendAll ELSE 0 END ) '7',
            MAX(CASE date WHEN '${ym}08' THEN sendAll ELSE 0 END ) '8',
            MAX(CASE date WHEN '${ym}09' THEN sendAll ELSE 0 END ) '9',
            MAX(CASE date WHEN '${ym}10' THEN sendAll ELSE 0 END ) '10',
            MAX(CASE date WHEN '${ym}11' THEN sendAll ELSE 0 END ) '11',
            MAX(CASE date WHEN '${ym}12' THEN sendAll ELSE 0 END ) '12',
            MAX(CASE date WHEN '${ym}13' THEN sendAll ELSE 0 END ) '13',
            MAX(CASE date WHEN '${ym}14' THEN sendAll ELSE 0 END ) '14',
            MAX(CASE date WHEN '${ym}15' THEN sendAll ELSE 0 END ) '15',
            MAX(CASE date WHEN '${ym}16' THEN sendAll ELSE 0 END ) '16',
            MAX(CASE date WHEN '${ym}17' THEN sendAll ELSE 0 END ) '17',
            MAX(CASE date WHEN '${ym}18' THEN sendAll ELSE 0 END ) '18',
            MAX(CASE date WHEN '${ym}19' THEN sendAll ELSE 0 END ) '19',
            MAX(CASE date WHEN '${ym}20' THEN sendAll ELSE 0 END ) '20',
            MAX(CASE date WHEN '${ym}21' THEN sendAll ELSE 0 END ) '21',
            MAX(CASE date WHEN '${ym}22' THEN sendAll ELSE 0 END ) '22',
            MAX(CASE date WHEN '${ym}23' THEN sendAll ELSE 0 END ) '23',
            MAX(CASE date WHEN '${ym}24' THEN sendAll ELSE 0 END ) '24',
            MAX(CASE date WHEN '${ym}25' THEN sendAll ELSE 0 END ) '25',
            MAX(CASE date WHEN '${ym}26' THEN sendAll ELSE 0 END ) '26',
            MAX(CASE date WHEN '${ym}27' THEN sendAll ELSE 0 END ) '27',
            MAX(CASE date WHEN '${ym}28' THEN sendAll ELSE 0 END ) '28',
            MAX(CASE date WHEN '${ym}29' THEN sendAll ELSE 0 END ) '29',
            MAX(CASE date WHEN '${ym}30' THEN sendAll ELSE 0 END ) '30',
            MAX(CASE date WHEN '${ym}31' THEN sendAll ELSE 0 END ) '31'
        from (select agent_id, clientid AS clientid,
                  name,
                  date,
                  SUM(submitsuccess + reportsuccess) AS sendAll
              from t_sms_access_channel_statistics
              where channelid > 0 and stattype = 0 and date >= #{ymr}
              group by clientid, date) r
        group by clientid
        order by sendall desc;
    </select>


    <select id="findYuFuForClientFailReturnByDay"  resultType="AccessChannelStatistics">
        SELECT
            clientid,
            paytype,
            charge_rule AS "chargeRule",
            smstype,
            sub_id AS "subId",
            agent_id as "agentId",
            belong_sale as "belongSale",
            operatorstype,
            SUM(IFNULL(submitsuccess, 0)) AS submitsuccess,
            SUM(IFNULL(submitfail, 0)) AS submitfail,
            SUM(IFNULL(reportfail, 0)) AS reportfail,
            SUM(IFNULL(return_total_number, 0)) AS "returnTotalNumber"
        FROM t_sms_access_channel_statistics
        WHERE sub_id > 0 and paytype = 0 and operatorstype in(0,1,2,3,-1) AND date = #{date}
        GROUP BY clientid, smstype, sub_id, belong_sale, agent_id, operatorstype
    </select>

    <select id="findOemHouFuForClientFailReturnByDay"  resultType="AccessChannelStatistics">
        SELECT
            clientid,
            paytype,
            charge_rule AS "chargeRule",
            smstype,
            salefee,
            belong_sale as "belongSale",
            operatorstype,
            SUM(IFNULL(submitsuccess, 0)) AS submitsuccess,
            SUM(IFNULL(submitfail, 0)) AS submitfail,
            SUM(IFNULL(reportfail, 0)) AS reportfail,
            SUM(IFNULL(return_total_number, 0)) AS "returnTotalNumber"
        FROM t_sms_access_channel_statistics
        WHERE paytype = 1 and operatorstype in(0,1,2,3,-1) AND date = #{date}
            AND agent_id IN
            <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        GROUP BY clientid, smstype, belong_sale, operatorstype
    </select>

    <select id="getTopSendBelongSaleByClientidAndDate" resultType="AccessChannelStatistics">
        SELECT SUM(sendtotal) AS "sendtotal",
            belong_sale
        FROM t_sms_access_channel_statistics
        WHERE clientid = #{clientid} AND date = #{date} AND stattype = 0
        GROUP BY clientid, belong_sale
        ORDER BY sendtotal DESC LIMIT 1
    </select>

    <select id="getTopSendAgentIdByClientidAndDateAndBelongSale" resultType="string">
        SELECT agent_id FROM t_sms_access_channel_statistics
        WHERE clientid = #{clientid} AND date = #{date} AND stattype = 0 AND belong_sale = #{belongSale}
        GROUP by clientid, agent_id
        ORDER by sendtotal desc limit 1;
    </select>

    <select id="getTopSendOperatorstypeByClientidAndDateAndBelongSaleAndAgentId" resultType="string">
        select operatorstype from t_sms_access_channel_statistics
        where clientid = #{clientid} AND date = #{date} AND stattype = 0 and belong_sale = #{belongSale} and agent_id = #{agentId}
        group by clientid, operatorstype
        ORDER BY sendtotal desc limit 1;
    </select>

</mapper>

