<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
  		http://mybatis.org/schema/mybatis-spring
  		http://mybatis.org/schema/mybatis-spring.xsd">

    <!-- 以下是Mybatis使用Mapper接口对应的配置 -->
    <bean id="stats_dataSource_new" parent="dataSourceParent">
        <property name="url" value="${stats_master_jdbc_url}"/>
        <property name="username" value="${stats_master_jdbc_username}"/>
        <property name="password" value="${stats_master_jdbc_password}"/>
    </bean>

    <bean id="stats_sqlSessionFactory_new" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="stats_dataSource_new"/>
        <property name="configLocation" value="classpath:mybatis.xml"/>
        <property name="typeAliasesPackage" value="com.ucpaas.sms.task.entity.stats"/>
    </bean>

    <bean id="stats_sqlSessionTemplate_new" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg name="sqlSessionFactory" ref="stats_sqlSessionFactory_new"/>
    </bean>

    <bean id="stats_transactionManager_new" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="stats_dataSource_new"/>
        <qualifier value="stats"/>
    </bean>

    <tx:annotation-driven transaction-manager="stats_transactionManager_new"/>

    <!-- 扫描mapper（因为在java使用mapper对象时，并不知道连的是那个库，所以mapper需根据库去分开包放）-->
    <mybatis:scan base-package="com.ucpaas.sms.task.mapper.stats" template-ref="stats_sqlSessionTemplate_new"/>

</beans>
